article {
  display: block;
  padding: 0 1rem;
}

article .title h1 {
  font-size: 1.6rem;
  line-height: calc(1.6rem * 1.1);
}

article .post {
  font-size: 1rem;
  line-height: calc(1rem * 1.4);
}

article .labels {
  display: none;
}

article .date {
  border-bottom: none;
  padding-bottom: 0;
}
