html {
  height: 100%;
}

body {
  background: linear-gradient(170deg, #fff, #eee);
  background-attachment: fixed;
  color: #222;
  font-family: system-ui;
  margin: 0 auto;
  max-width: 768px;
}

article h1 {
  font-size: 1.8rem;
  margin: 3rem 0 0 0;
}

article p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin: 0.5rem 0 0 0;
}

code {
  background: hsl(220, 80%, 90%);
}

pre {
  white-space: pre-wrap;
  background: hsl(30, 80%, 90%);
}

footer {
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

footer a {
  align-items: center;
  color: #6b6b6b;
  display: flex;
  font-size: 0.75rem;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer img {
  margin-right: 5px;
  height: 16px;
  width: 16px;
}
