:root {
  --highlight: rgba(255, 193, 7, 0.5);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(
      170deg,
      rgba(255, 255, 255, 0.4),
      rgba(238, 238, 238, 0.4)
    ),
    url("/images/bg.png");
  background-attachment: fixed;
  color: #222;
  margin: 0 auto;
  max-width: 850px;
}

main {
  opacity: 0;
}

main.loaded {
  animation: fade 1s;
  animation-fill-mode: forwards;
}

article {
  margin-top: 4rem;
  margin-bottom: 8rem;
  display: grid;
  grid-template-columns: 10rem auto;
}

article .title a {
  color: #222;
  text-decoration: none;
}

article .title a:hover {
  text-decoration: underline;
}

article .post a {
  color: #174ba2;
  text-decoration: underline;
}

article .post a:hover {
  color: #042470;
  text-decoration: none;
}

article .date {
  align-self: end;
  font-size: 0.75rem;
  font-weight: 500;
  color: #6b6b6b;
  border-bottom: 2px solid #ddd;
  padding-bottom: calc(1rem + 3px);
}

article .title {
  padding: 1rem 0;
  align-self: end;
  border-bottom: 2px solid #ddd;
}

article .title h1 {
  font-size: 2.4rem;
  line-height: calc(2.4rem * 1.1);
  margin: 0;
}

article .post {
  font-size: 1.3rem;
  line-height: calc(1.3rem * 1.4);
}

code {
  background: #eee;
  padding: 0.2rem 0.4rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

pre {
  white-space: pre-wrap;
  background: #eee;
  padding: 1rem;
  font-size: 1.1rem;
  line-height: calc(1.1rem * 1.2);
  color: #555;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 1.5rem;
}

article .post .author {
  padding-top: 0.5rem;
  border-top: 1px solid #ddd;
  display: flex;
}

article .post .author a {
  align-items: center;
  color: #6b6b6b;
  display: flex;
  font-size: 0.75rem;
  font-weight: 500;
  text-decoration: none;
}

article .post .author a:hover {
  text-decoration: underline;
}

article .post .author img {
  margin-right: 5px;
  height: 16px;
  width: 16px;
}

.home {
  position: absolute;
  font-size: 0.75rem;
  font-weight: 500;
  color: #6b6b6b;
  top: 0;
}

.home a {
  color: #6b6b6b;
  text-decoration: none;
}

.home a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 500;
  text-shadow: -0.5em 0 1em var(--highlight), 0.5em 0 1em var(--highlight),
    1em 0 1em var(--highlight), -1em 0 1em var(--highlight);
}
