body {
  max-width: 700px;
}

article {
  grid-template-columns: 7rem auto;
}

article .title h1 {
  font-size: 2.2rem;
  line-height: calc(2.2rem * 1.1);
}

article .post {
  font-size: 1.25rem;
  line-height: calc(1.25rem * 1.4);
}

pre {
  font-size: 0.95rem;
  line-height: calc(0.95rem * 1.2);
}
