article {
  display: block;
  padding: 0 1rem;
}

article .labels {
  display: none;
}

article .date {
  border-bottom: none;
  padding-bottom: 0;
}

.home {
  margin-left: 1rem;
}

article .title h1 {
  font-size: 1.8rem;
  line-height: calc(1.8rem * 1.1);
}

article .post {
  font-size: 1.1rem;
  line-height: calc(1.1rem * 1.4);
}

pre {
  font-size: 0.95rem;
  line-height: calc(0.95rem * 1.2);
}
