article .title h1 {
  font-size: 1.6rem;
  line-height: calc(1.6rem * 1.1);
}

article .post {
  font-size: 1rem;
  line-height: calc(1rem * 1.4);
}

pre {
  font-size: 0.9rem;
  line-height: calc(0.9rem * 1.2);
}
