:root {
  --highlight: rgba(255, 193, 7, 0.1);
  --select: rgba(23, 75, 162, 0.1);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background-image: radial-gradient(
    ellipse farthest-corner at 3px 3px,
    #eee,
    #eee 50%,
    #f6f6f6 50%
  );
  background-size: 3px 3px;
  color: #222;
  margin: 0 auto;
  max-width: 850px;
}

*::selection {
  background: var(--select);
}

main {
  opacity: 0;
}

main.loaded {
  animation: fade 1s;
  animation-fill-mode: forwards;
}

article {
  margin-top: 4rem;
  margin-bottom: 8rem;
  display: grid;
  grid-template-columns: 10rem auto;
}

article .title a {
  color: #222;
  text-decoration: none;
}

article .title a:hover {
  text-decoration: underline;
}

article .post a {
  color: #174ba2;
  text-decoration: underline;
}

article .post a:hover {
  color: #042470;
  text-decoration: none;
}

article .date {
  align-self: end;
  font-size: 0.75rem;
  font-weight: 500;
  color: #6b6b6b;
  border-bottom: 2px solid #ddd;
  padding-bottom: calc(1rem + 3px);
}

article .title {
  padding: 1rem 0;
  align-self: end;
  border-bottom: 2px solid #ddd;
}

article .title h1 {
  font-size: 2.4rem;
  line-height: calc(2.4rem * 1.1);
  margin: 0;
}

article .post {
  font-size: 1.3rem;
  line-height: calc(1.3rem * 1.4);
}

strong,
em {
  font-weight: 600;
  font-style: normal;
  padding: 0 0.25rem;
  background: var(--highlight);
  border-bottom: 1px solid rgba(255, 193, 7, 0.25);
}

p > code,
li > code {
  padding: 0 0.25rem;
  background: #fafafa;
  border: 1px solid #ddd;
  color: #333;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

pre {
  white-space: pre-wrap;
  background: #eee;
  padding: 1rem;
  font-size: 1.1rem;
  line-height: calc(1.1rem * 1.2);
  color: #555;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 1.5rem;
}

article .post .author {
  padding-top: 0.5rem;
  border-top: 1px solid #ddd;
  display: flex;
}

article .post .author a {
  align-items: center;
  color: #6b6b6b;
  display: flex;
  font-size: 0.75rem;
  font-weight: 500;
  text-decoration: none;
}

article .post .author a:hover {
  text-decoration: underline;
}

article .post .author img {
  margin-right: 5px;
  height: 16px;
  width: 16px;
}

.home {
  position: absolute;
  font-size: 0.75rem;
  font-weight: 500;
  color: #6b6b6b;
  top: 0;
}

.home a {
  color: #6b6b6b;
  text-decoration: none;
}

.home a:hover {
  text-decoration: underline;
}

li {
  margin-bottom: 1em;
}

li::marker {
  color: #333;
}
