:root {
  --size: 12px;
  --gap: 4px;
  --width: calc(var(--size) + var(--gap));
}

html {
  font-family: "Inter", sans-serif;
  font-size: 0.5rem;
  color: #1f2937;
}

.graph {
  display: inline-grid;
  grid-template-areas: "empty months" "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 8px;
}

.months {
  grid-area: months;
  display: grid;
  grid-template-columns:
    calc(var(--width) * 5)
    calc(var(--width) * 4)
    calc(var(--width) * 4)
    calc(var(--width) * 4)
    calc(var(--width) * 4)
    calc(var(--width) * 4)
    calc(var(--width) * 4)
    calc(var(--width) * 4)
    calc(var(--width) * 4)
    calc(var(--width) * 4)
    calc(var(--width) * 4)
    calc(var(--width) * 4);
}

.days {
  grid-area: days;
}

.squares {
  grid-area: squares;
  grid-auto-flow: column;
  grid-auto-columns: var(--size);
}

.days,
.squares {
  display: grid;
  grid-gap: var(--gap);
  grid-template-rows: repeat(7, var(--size));
}
